
.navbar {
    background: white;
    padding-top: 1.5rem;
    padding-right: 0rem !important;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin:auto; 
}

@media (max-width: 990px) {
    .navbar {
        padding-right: 2rem !important;
    }
}


#menuButton.navbar-toggler-icon { /* for menu button mobile and ipad */
    background-image: url("iconMenu.png") !important;
}

#navbarNavDropdown, #navbarNavDropdown a.nav-link { 
    text-align: right; 
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: black !important;
    font-size: 18px;
    margin: auto;
    font-weight: 400;
    
}

#navbarNavDropdown a.nav-link:hover {
    font-weight: 600; 
    font-size: 19px;
    
}

#navbarNavDropdown a.nav-link:active {
    text-shadow: 1px 1px red !important;
    font-size: 20px;
    font-weight:600;
}

.dropdown-menu {
    position: relative !important;
}


#logoHome {
    display: block;
    vertical-align: none;
}

div.bio {
    margin-top: 6rem;
}


/*.arrow-2-x{  
    height: 3em;
    width: 3em;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    cursor: pointer;
  }
  .arrow-2-x::before, .arrow-2-x::after {
    height: 26px;
    width: 2px;
    background: #afafaf;
    content: "";
    position: absolute;
      transition: all 0.5s ease;
  }
    .arrow-2-x::before {
    top: 0em;
    right: 0em;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow-2-x::after {
    top: 0em;
    right: 18px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .x-ready::before, .x-ready::after {
      right: .9em;
  }
  .x-ready::before {
  transform: rotate(-45deg);	
  }
  .x-ready::after {
      transform: rotate(45deg);
  }*/

  .arrow {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  /*.navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
  }*/
